# = MAC FILES
Icon
.DS_Store

# = EDITORS TEXT
prepros.config
prepros.cfg
prepros-6.config
prepros.cfg
config.codekit3

#= TEMPLATES
*.pug
cover.html
gallery.html
location.html
contact.html
privacy.html
404.html

#= SCSS
*.scss
.sass-cache/
*.css.map
*.sass.map
*.scss.map
